/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

/* General body styling */
body {
    font-family: "Poiret One", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d77a61;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
}

/* Main quiz container*/
.swedenquizbox {
    width: 80%;
    max-width: 600px;
    background: #d8b4a0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    margin: auto;
}
/* Header */
h1 {
    font-family: "Poiret One", sans-serif;
    margin-bottom: 20px;
    color:#223843;
}

/* Label and input field */
label, input {
    font-family: "Poiret One", sans-serif;
    display: block;
    margin: 10px auto;
    font-size: 1.2em;
    color:#223843;
    font-weight: bold;
    background-color:#d8b4a0;
}

/* Start button */
.startQuizButton {
    font-family: "Poiret One", sans-serif;
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
    color:#223843;
    background-color:#dbd3d8;
    font-weight: bold;
    }

    


/* Hidden class for elements that should be hidden */
.hidden {
    display: none;
}

/* Question styling */
.question {
    font-family: "Poiret One", sans-serif;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

/* Options container styling */
.options {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

/* Individual option styling */
.options div {
    background: #dbd3d8;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
/* Hover effect for options */
.options div:hover {
    background: #cabec5;
}
/* Correct answer */
.options div.correct {
    background-color: #BED9A0 !important;
}
/* Wrong answer */
.options div.wrong {
    background-color: #E46565 !important; 
}